
body{
	background-color: black;
}
/*creating the main container, White*/
.main{
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
	position: relative;
	z-index: 1;
}
.ryu-container{
	position:relative;
}
.ryu{
	width: 659px;
	height: 494px;
}
.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool{
	width: 659px;
	height: 494px;
}
.ryu-ready, .ryu-throwing, .ryu-cool{
	display: none;
}
.ryu-still{
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-ready{
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing{
	background-image: url('../images/ryu-throwing-hadouken.png')
}
.ryu-cool{
	background-image: url('../images/ryu-cool.gif');
}
.hadouken, .ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool{
	background-repeat: no-repeat;
}
.hadouken{
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	float: left;
	top: 160px;
	left: 610px;
	position: absolute;
	z-index: 10;
}
.game-play{
	display: block;
	position: absolute;
	top: 0;
	left:700px;
	font-size: 50px;
	width: 600px;
	font-family: impact; 
}
.game-play p{
	color: black;
	font-size: 30px;
	line-height: 45px;
	width: 50%;
}
.game-play p + p{
	/*color: red;*/
	font-size: 30px;
	line-height: 45px;
	width: 50%;
	margin-left: 100px;
	animation-name: ryu-sense;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
@keyframes ryu-sense{
	from {color: purple;}
	to{color: red;}
}